.border1 {
  position: relative;
  top: 120px;
  background-color: #27374d;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}


.btn-custom{
  color: #27374d;
  background-color: white;
  margin-left: 50%;
  transform: translate(-50);
}
